 h1{
    color:green;
}
button{
    color: black;
    background-color: rgb(148, 31, 249);
}
body{
    background-color: #03f4fc;
} 
*.heading1{
    color: red;
}
#heading1{
    color: red;
}
/*h1,h2,h3{
    color: red;
}*/
button{
    background-color: green;
   
}
#box{
    background-color: brown;
    color: yellow;
}
 
#heading2{
    color: blue;
}
#heading3{
    color: orange;
}
.myClass{
    color: magenta;
} 