div{
    height: 100px;
    width: 100px;
    color: white;
    font-size: 25px;
    background-color: darkblue;
    border: 1px solid black;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}