/* table{
    border-color: white;
    background-color: black;
}
#type1{
    color: white;


}
#type2{
color: yellow;
} */
 *{
    padding: 0;
    margin: 0;
    color: white;
 }
 #navbar{
    height: 60px;
    background-color: #0f1111;

 }
 button{
    color: yellow;
    background-color: orange;
 }
 #logo{
    color: #f08804;
    font-size: 25px;
 }
 a{
    margin-right: 200px;
    text-decoration: none;
 }